body {
    font-family: 'Arial', sans-serif;
    background-image: url("pexels-gabriel-peter-219375-696680.jpg");
    background-position: center;
    background-attachment: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    background: #fff;
    padding: 30px;
    /*
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    */
    border: none;
    width: 400px;
    max-width: 90%;
    transition: transform 0.3s ease;
    /*
    background-image: url("pexels-piixabay-235721.jpg");
    background-position: center;
    background-attachment: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    */
    background-color: transparent;
}

.container:hover {
    transform: scale(1.02);
}

h2 {
    margin-bottom: 20px;
    color: #444;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: #6a11cb;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background: #6a11cb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #2575fc;
}

.form-footer {
    text-align: center;
    margin-top: 15px;
}

.form-footer p {
    margin: 5px 0;
}

.form-footer a {
    color: #6a11cb;
    text-decoration: none;
    font-weight: bold;
}

.form-footer a:hover {
    text-decoration: underline;
}

.form-container {
    display: none;
    
    
}

.form-container:first-child {
    display: block;
    

}

